body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
    color: blue;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    
}
nav li{
    margin-right: 20px;
}

nav ul a{
    color:black;
    text-decoration: none;
}

.her{
    background-image: url("https://via.placeholder.com/1200x600");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.her h2{
    font-size: 48px;
    margin-bottom: 20px;
}

.her button{
    background-color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.fetu{
    padding: 50px;
    background-color: yellowgreen;
}

.fetu h3{
    font-size: 30px;
    color: crimson;
    margin-bottom: 100px;
}

.fetu ul li {
    display: flex;
    margin-top: 50px;
}

.fetu h4{
    font-size: 24px;
    margin-bottom: 10px;
}

.fetu p{
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    margin-left: 20px;
}

.cta{
    background-color: violet;
    color: white;
}

footer{
    font-family: cursive;
    background-color: #942 ;
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    margin-left: 20px;
}

@media screen and (max-width: 768px){
    nav{
        margin-top: 20px;
    }
    .her{
        height: auto;
    }
    .her h2{
        font-size: 36px;
    }
    .her button{
        font-size: 20px;
        pad: 8px 16px;
    }
    .fetu{
        padding: 20px;
    }
    .fetu li{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fetu h4{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .fetu p{
        margin: 0;
    }
    .cta h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .cta button{
        font-size: 20px;
        padding: 8px 16px;
    }
}